---
name: <function name>
environments:
  dev:
    profile: <profile>
    region: <region>
    environment_variables:
        channel: "channel name"
        username: "bot name"
        icon_emoji: "emoji code"
        webhook_path: "/services/your-slack-webhook-url-info-goes-here"
    policy:
      resources:
        - arn: <arn of your SNS topic>
          actions:
          - "*"
      resources:
        - arn: arn:aws:logs:*:*:*
          actions:
          - "*"
lambda:
  description: Send slack notifications about events in Elastic Beanstalk instances
  handler: app.handler
  runtime: python2.7
  memory_size: 128
  timeout: 3
